<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoicePhraseCast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoicePhraseCast.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationKey" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="EmulationKey" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="VolumeMic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeCable" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsMonitorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopKey" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="IsEmulationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </VoicePhraseCast.Properties.Settings>
    </userSettings>
</configuration>